
<div class="container">

	<div class="row">
			
		<div class="col-sm-3"  >
				
					<form #addTitleForm="ngForm" [formGroup]="titleform" (ngSubmit)="addTitleItem()">
						<div class="input-group">
							<input type="text" required class="form-control" placeholder="Enter Title Name" formControlName="titlename" width="30px">
							<span class="input-group-btn">
								<button class="btn btn-primary " type="submit"  [disabled]="!addTitleForm.valid" >  + </button>
							</span>
						</div>
					</form>
					<br>

			

				<form #addForm="ngForm" [formGroup]="listforme" (ngSubmit)="onAddItem()" >

								<select id="lid" required class="form-control"  formControlName="listid">
									<option value="null" disabled="true" [selected]="true">Select List Title</option>
									<option *ngFor="let lst of itemlist"   value="{{lst.list_id}}">{{lst.list_title}}
									</option>
								</select>


									<input type="text" id="name"  required class="form-control" placeholder="Enter Item Name" formControlName="name" width="30px">
								
									<select id="storee" required class="form-control" formControlName="store">
									<option value="null" disabled="true" [selected]="true">Select store name</option>
									<option *ngFor="let sname of storenamelist">{{sname.name}}
									</option>
									</select>
															
									<input type="number" id="qtyy" placeholder="Enter Qty." required class="form-control" formControlName="qty" width="30px">
								
									<input type="number" id="pri" placeholder="Expected Price" required class="form-control" formControlName="eprice" width="30px">
							
									<button class="btn btn-primary" type="submit"  [disabled]="!addForm.valid">Add Item</button>
									<button class="btn btn-danger" type="reset" (click)="reset()" >Clear</button>
							
				</form>

				
			
		</div>
	
		<div class="col-sm-9"  >
				<div class="input-group">
					<select class="form-control" #searchitem>
						<option value="null" disabled="true" [selected]="true">Select List Title For View</option>
						<option *ngFor="let lst of itemlist"   value="{{lst.list_id}}">{{lst.list_title}}
						</option>
					</select><div class="input-group-btn" ><button type="button" class="btn btn-info" (click)="getItems(searchitem.value)">
							<span class="fa fa-search"></span> Search
						  </button></div>
				</div>
					<table class="table table-bordered table-striped table-hover">
							<thead class="bg-primary">
								<td>Item ID</td>
								<td>Item Name</td>
								<td>Store Name</td>
								<td>Item Qty.</td>
								<td>Expected Price.</td>
							</thead>
						
						
							<tr *ngFor="let itm of items let isOdd=odd; let isEven=even "
								[class.odd]="isOdd" [class.even]="isEven">
								<td>{{itm.container_id}}</td>
								<td>{{itm.item_name}}</td>
								<td>{{itm.store_name}}</td>
								<td>{{itm.qty}}</td>
								<td>{{itm.eprise}}</td>
						
							</tr>
						
					</table>
			
		</div>

	</div>

</div>