/* You can add global styles to this file, and also import other style files */




body
	{
		margin: 0px;	
font-family:  fantasy; 		
	}
	
	
	
	.form-control-feedback
	{
	display: inline-table;
	position: absolute;
	font-size: 18px;		
	
	padding: 2px 5px 2px 5px;
	color: red;
	
	}
	
	
a {
  cursor: pointer;
  cursor: hand;
  
}